<div class="table-wrapper">
  <div class="table-title">
    <div class="row">
      <div class="col-sm-6">
        <h2>Manage <b>URL</b></h2>
      </div>
      <div class="col-sm-6">
        <a class="btn btn-success"><i class="fas fa-plus-circle"></i> <span>Add New URL</span></a>
        <a class="btn btn-danger"><i class="fas fa-minus-circle"></i> <span>Delete</span></a>
      </div>
    </div>
  </div>
  <lib-data-table [data]="data" [columns]="dataColumns"></lib-data-table>
  <div class="clearfix">
    <div class="hint-text">Showing <b>5</b> out of <b>25</b> entries</div>
    <ul class="pagination">
      <li class="page-item disabled"><a href="#">Previous</a></li>
      <li class="page-item"><a href="#" class="page-link">1</a></li>
      <li class="page-item"><a href="#" class="page-link">2</a></li>
      <li class="page-item active"><a href="#" class="page-link">3</a></li>
      <li class="page-item"><a href="#" class="page-link">4</a></li>
      <li class="page-item"><a href="#" class="page-link">5</a></li>
      <li class="page-item"><a href="#" class="page-link">Next</a></li>
    </ul>
  </div>
</div>
