<div class="table-wrapper">
  <div class="table-title">
    <div class="row">
      <div class="col-sm-6">
        <h2>Manage <b>APP's</b></h2>
      </div>
      <div class="col-sm-6">
        <button class="btn btn-success" (click)="createManageApp($event)"><i class="fas fa-plus-circle"></i> <span>Add</span></button>
        <a class="btn btn-danger"><i class="fas fa-minus-circle"></i> <span>Delete</span></a>
      </div>
    </div>
  </div>
  <lib-data-table [data]="data" [columns]="dataColumns"></lib-data-table>
  <div class="clearfix">
    <div class="hint-text">Showing <b>{{ data.length }}</b> out of <b>{{ data.length }}</b> entries</div>
    <pagination [totalItems]="data.length" [(ngModel)]="currentPage"></pagination>
  </div>
</div>
