<div class="modal-header">
  <h4 class="modal-title pull-left">{{ data?.id ? 'Edit ' + data?.name : 'Create'  }}</h4>
  <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form [formGroup]="dataForm">
    <div class="form-group">
      <label for="input-name">Name</label>
      <input
        class="form-control"
        type="text"
        name="name"
        formControlName="name"
        id="input-name"
        required
        [class.is-valid]="inputName.valid && (inputName.dirty || inputName.touched)"
        [class.is-invalid]="inputName.invalid && (inputName.dirty || inputName.touched)"
      >
      <div class="valid-feedback" *ngIf="inputName.valid && (inputName.dirty || inputName.touched)">
        Looks good!
      </div>
      <div class="invalid-feedback" *ngIf="inputName.invalid && (inputName.dirty || inputName.touched)">
        Name is required
      </div>
    </div>
    <div class="form-group">
      <label for="input-url">URL</label>
      <input
        class="form-control"
        type="url"
        name="url"
        formControlName="url"
        id="input-url"
        required
        [class.is-valid]="inputUrl.valid && (inputUrl.dirty || inputUrl.touched)"
        [class.is-invalid]="inputUrl.invalid && (inputUrl.dirty || inputUrl.touched)"
      >
      <div class="valid-feedback" *ngIf="inputUrl.valid && (inputUrl.dirty || inputUrl.touched)">
        Looks good!
      </div>
      <div class="invalid-feedback" *ngIf="inputUrl.invalid && (inputUrl.dirty || inputUrl.touched)">
        URL is required
      </div>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-default" (click)="bsModalRef.hide()">Cancel</button>
  <button type="submit" class="btn btn-info" (click)="submitForm($event)">Save</button>
</div>
